logs/
vendor/

sftp-config.json
.env

docker-compose.yml
Dockerfile
docker/
Makefile

*.code-workspace
.php_cs.cache
.phpunit.result.cache
.DS_Store

bin/php-cs-fixer
bin/php-parse
bin/phpstan
bin/phpunit
bin/var-dump-server
