parameters:
    level: max
    paths:
        - bin
        - lib
        - web
    ignoreErrors:
        - '#.+ has no typehint specified#'
        - '#.+ should return string but returns false#'
        - '#.+ expects array#'
